@-webkit-keyframes up {
	from    { top: 0; }
    to      { top: -40px; }
}

@keyframes up {
    from    { top: 0; }
    to      { top: -40px; }
}

@-webkit-keyframes down {
	from    { top: -40px }
    to      { top: 0; }
}

@keyframes down {
    from    { top: -40px }
    to      { top: 0; }
}


body {
	margin-top:0;
	margin-bottom:0;
	padding-top:40px;
}

.debug-bar {
	height: 40px;
	width: 100%;
	background-color: palegoldenrod;
	font-family: Courier New, Courier, monospace;
	text-align: center;
	line-height: 40px;
	
	position: absolute;
	top:0;
	left: 0;
}

.debug-bar.sticky {
	-webkit-animation: down 0.5s 1;
	animation: down 0.5s 1;
	position: fixed;
	top:0;
	left: 0;
	color:red;
}

.debug-bar.sticky.unsticky {
	-webkit-animation: up 0.5s 1;
	animation: up 0.5s 1;
	position: fixed;
	top:-40px;
	left: 0;
	color:green;
}

img {
	width:100%;
	height:auto;
}